@import '../../styles.css';

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: var(--color-tag);
    margin-right: 8px;
    padding: 4px;
}

.tag:last-of-type {
    margin-right: 0;
}

.tag button {
    background: none;
    border: 0;
    cursor: pointer;
}
